/*
John Scales
CWID 888865730
Class Number 335-04
13602 Loumont st.
Whittier, CA 90601
24 September 2019
Aswilanga Caverns
23 November 2019
This file is the style sheet for race.html
*/
body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}
